<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container">
    <div class="row main">
        <div class="col-md-6">
            <h2 class="title">All Users</h2>
            <hr/>

			<table>
				<tr width="100%">
					<th width="15%">Username</th>
					<th width="15%">First Name</th>
					<th width="15%">Last Name</th>
				</tr>
				<th:block th:each="user : ${users}">
					<tr>
						<td><a th:href="@{/user/accounts/user(username=${user.username})}" th:text="${user.username}">...</a></td>
						<!-- <td >...</td> -->
						<td th:text="${user.firstName}">...</td>
						<td th:text="${user.lastName}">...</td>
					</tr>
				</th:block>
			</table>
		</div>
        <div class="col-md-6">
        </div>
    </div>
</div>


<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>